#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.item-image {
    width: 100%;  /* Ajusta a imagem para ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    max-width: 150px; /* Define uma largura máxima para a imagem */
    max-height: 150px; /* Define uma altura máxima para a imagem */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço definido */
    border-left: 10px solid rgba(0, 0, 0, 0.0); /* Adiciona uma borda transparente à esquerda */
    border-right: 10px solid rgba(0, 0, 0, 0.0); /* Adiciona uma borda transparente à direita */
}
  
.logo-container {
  display: flex; /* Usar Flexbox para centralizar */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Ajusta a altura do container */
}

.logo {
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
  height: auto; /* Mantém a proporção da imagem */
  width: 150px; /* Ajuste a largura conforme necessário */
}

